<html>
<head><meta charset='utf-8'></head>
<body>
  <p>Hey <%= first_name %>,</p>
  <br>
  <p>
    Hey Friend, long time no talk! I hope everything is going well and that you are enjoying this fall weather. I've been a busy learning how to code at Fullstack, I thought I'd shoot you a quick e-mail with a link to my blog. It's just a quick post about some of the things we've been learning and projects we've been working on. I know you've been dying to know more.
  </p>
  <p>
    Check out my new posts here:

    <a href="http://hjbuchanan.github.io">My Blog</a>

    <% blog_content.entries.each do |entry|
  if entry.published > 7.days.ago %>

  <%= entry.content %>

    <% end %>
    <% end %>

  </p>
  <p>
    Talk soon,<br>
    Hannah Jane
  </p>
</body>
</html>
